@charset "UTF-8";

.complexTabTable {
  .next-tabs-medium .next-tabs-tab-inner {
    height: 40px;
    line-height: 40px;
  }
}
.complexTabTableOperation {
  line-height: 28px;
};
.titleWrapper {
  display: flex;
  flex-direction: row;
};
.titleName {
  margin-left: 10px;
  line-height: 20px;
};
.operation {
  margin-right: 12px;
  text-decoration: none;
};
.tabExtra {
  display: flex;
  align-items: center;
};
.search {
  margin-left: 10;
};
.tabCount {
  margin-left: 5px;
  color: #3080FE;
};
.pagination {
  padding-top: 26px;
  text-align: right;
};

.tableFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
};
.title {
  height: 20px;
  line-height: 20px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  padding-left: 12px;
  border-left: 4px solid #666;
};
.filter {
  display: flex;
};
.filterItem {
  display: flex;
  align-items: center;
  margin-left: 20px;
};
.filterLabel {
  font-weight: 500;
  color: #999;
};
.submitButton {
  margin-left: 20px;
};
.selectWidth{
  width: 200px;
}
